body {
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.toolbar {
    float: left;
    border: 1px  solid black;
    /*height : auto;*/
    width: 80px;
    background-color: #bbbbbb;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.draw_container {
    overflow: auto;
    border: 1px solid black; 
    margin-left: 100px;
    margin-top: 10px;
    /*padding: 1px;*/
    height: 800px;
    width: 90%;
    /*margin-bottom: 100px;*/
    /*width: 85%;*/
    /*height: 0;*/
    /*padding-bottom: 800px;*/
}

.draw_area {
    width: 3000px;
    height: 2000px;
    /*border: 1px solid red; */
    padding: 1px;
}